.md-hd,.btn-info{
    background: #C41230 !important;
}
.md-btn{
    margin-left: -31px;
    margin-top: 1px;
}
.md-flex{
    display: flex !important;
}
.md-boder{
    border: 2px solid #008acc;
}
.md-clr{
    color: #0071b3 !important;
}





