<!-- <div>certificate Detail works!</div> -->
<!-- <div> -->
    <div class="ym_content">
        <div class="md-top">
            <div>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header class="md-bgClr">
                            <mat-panel-title style="color: white;">
                                Header
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">File Identifier</label>
                                <input placeholder="File Identifier" value="{{creditorDataJson?.fileInfo?.fileIdentifier}}"
                                    [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">Client Name</label>
                                <input placeholder="Client Name" value="{{creditorDataJson?.fileInfo?.partnerName}}"
                                    [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">Client Identifier</label>
                                <input placeholder="Client Identifier"
                                    value="{{creditorDataJson?.fileInfo?.partnerIdentifier}}" [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">Transaction Type</label>
                                <input placeholder="Transaction Type"
                                    value="{{creditorDataJson?.fileInfo?.transactionType}}" [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                        </div>
                        <div class="row md-row-mt">
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">Product Type</label>
                                <input placeholder="Product Type" value="{{creditorDataJson?.fileInfo?.productType}}"
                                    [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">Number Of Records</label>
                                <input placeholder="Number Of Records"
                                    value="{{creditorDataJson?.fileInfo?.numberOfRecords}}" [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">Processed With Error</label>
                                <input placeholder="Processed With Error"
                                    value="{{creditorDataJson?.fileInfo?.processedWithErrorFlag}}"
                                    [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                            <div class="ym_form_group  col-3">
                                <label class="md-lbl">Processed With Warnings</label>
                                <input placeholder="Processed With Warnings"
                                    value="{{creditorDataJson?.fileInfo?.processedWithWarningFlag}}"
                                    [readonly]="isFieldreadonly" style="width: 70%;">
                            </div>
                        </div>
                        <div class="row md-row-mt" style="margin-left: -10px;">
                            <div class="ym_form_group  col-3 m-0">
                                <div class="row">
                                    <label class="md-lbl">File Created Date</label>
                                    <input  matInput [matDatepicker]="picker"
                                        value="{{creditorDataJson?.fileInfo?.fileCreatedDate}}"
                                        [readonly]="isFieldreadonly" style="width: 68%;">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker class="col-md-3" #picker></mat-datepicker>
                                </div>
                            </div>
                            <div class="ym_form_group  col-3 m-0">
                                <div class="row">
                                    <label class="md-lbl">File Load Date</label>
                                    <input matInput [matDatepicker]="picker2"
                                        value="{{creditorDataJson?.fileInfo?.fileLoadDate}}" [readonly]="isFieldreadonly" style="width: 68%;">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker class="col-md-3" #picker2></mat-datepicker>
                                </div>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-3"></div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <hr class="m-0 p-0">
            <!-- certificate Details -->
            <div class="mt-2">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header class="md-bgClr">
                            <mat-panel-title style="color: white;">
                                Certificate Details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Certificate Number</label>
                                <input class="md-input-width" placeholder="Certificate Number"
                                    value="{{creditorDataJson?.certificate?.certificateNumber}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Unique Certificate Identifier</label>
                                <input class="md-input-width" placeholder="Unique Certificate Identifier"
                                    value="{{creditorDataJson?.certificate?.uniqueCertificateIdentifier}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Unique Certificate Identifier2</label>
                                <input class="md-input-width" placeholder="Unique Certificate Identifier2"
                                    value="{{creditorDataJson?.certificate?.uniqueCertificateIdentifier2}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                        </div>
                        <div class="row md-row-mt" style="margin-left: -10px;">
                            <div class="ym_form_group  col-4">
                                <div class="row">
                                    <label class="md-lbl">Certificate Effective Date</label>
                                    <input style="width: 68%;" matInput [matDatepicker]="picker3"
                                        value="{{creditorDataJson?.certificate?.certificateEffectiveDate}}"
                                        [readonly]="isFieldreadonly">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker class="col-md-3" #picker3></mat-datepicker>
                                </div>
                            </div>
                            <div class="ym_form_group  col-4">
                                <div class="row">
                                    <label class="md-lbl">Certificate Termination Date</label>
                                    <input style="width: 68%;" matInput [matDatepicker]="picker4"
                                        value="{{creditorDataJson?.certificate?.certificateTermDate}}"
                                        [readonly]="isFieldreadonly">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker class="col-md-3" #picker4></mat-datepicker>
                                </div>
                            </div>
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Internal Location Number</label>
                                <input class="md-input-width" placeholder="Internal Location Number"
                                    value="{{creditorDataJson?.certificate?.internalLocationNumber}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                        </div>
                        <div class="row md-row-mt">
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Certificate Status</label>
                                <input class="md-input-width" placeholder="Certificate Status"
                                    value="{{creditorDataJson?.certificate?.certificateStatus}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Certificate Sub Status</label>
                                <input class="md-input-width" placeholder="Certificate Sub Status"
                                    value="{{creditorDataJson?.certificate?.certificateSubStatus}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Certificate Termination Reason</label>
                                <input class="md-input-width" placeholder="Certificate Termination Reason"
                                    value="{{creditorDataJson?.certificate?.certificateStatusReason}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                        </div>
                        <div class="row md-row-mt">
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Certificate Product Type</label>
                                <input class="md-input-width" placeholder="Certificate Product Type"
                                    value="{{creditorDataJson?.certificate?.certificateProductType}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Plan Name</label>
                                <input class="md-input-width" placeholder="Plan Name" value="{{creditorDataJson?.certificate?.planName}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Plan Number</label>
                                <input class="md-input-width" placeholder="Plan Number" value="{{creditorDataJson?.certificate?.planNumber}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                        </div>
                        <div class="row md-row-mt">
                            <div class="ym_form_group  col-8">
                                <label class="md-lbl">Plan Description</label>
                                <textarea class="md-text-area-width md-input-width" rows="3" placeholder="Plan Description"
                                    value="{{creditorDataJson?.certificate?.planDescription}}"
                                    [readonly]="isFieldreadonly"></textarea>
                            </div>
    
                            <div class="ym_form_group  col-4">
                            </div>
                        </div>
                        <div class="row md-row-mt">
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Logical Delete Flag</label>
                                <input class="md-input-width" placeholder="Logical Delete Flag"
                                    value="{{creditorDataJson?.certificate?.certificateLogicalDeleteFlag}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-8">
                                <label class="md-lbl">Logical Delete Notes</label>
                                <textarea class="md-text-area-width md-input-width" rows="3" placeholder="Logical Delete Notes"
                                    value="{{creditorDataJson?.certificate?.logicalDeleteNotes}}"
                                    [readonly]="isFieldreadonly"></textarea>
                            </div>
                        </div>
                        <div class="row md-row-mt">
                            <div class="ym_form_group  col-4">
                                <label class="md-lbl">Processed With Error Flag</label>
                                <input class="md-input-width" placeholder="Processed With Error Flag"
                                    value={{creditorDataJson?.certificate?.certificateProcessedWithErrorFlag}}
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-8">
                                <label class="md-lbl">Processed With Error Note</label>
                                <textarea class="md-text-area-width md-input-width" rows="3" placeholder="Processed With Error Note"
                                    value="{{creditorDataJson?.certificate?.processedWithErrorReason}}"
                                    [readonly]="isFieldreadonly"></textarea>
                            </div>
                        </div>
                        <div class="row md-row-mt">
                            <div class="ym_form_group  col-4 m-0">
                                <label class="md-lbl">Processed With Warning Flag</label>
                                <input class="md-input-width" placeholder="Processed With Warning Flag"
                                    value="{{creditorDataJson?.certificate?.certificateProcessedWithWarningFlag}}"
                                    [readonly]="isFieldreadonly">
                            </div>
                            <div class="ym_form_group  col-8 m-0">
                                <label class="md-lbl">Processed With Warning Note</label>
                                <textarea class="md-text-area-width md-input-width" rows="3" placeholder="Processed With Warning Note"
                                    value="{{creditorDataJson?.certificate?.certificateProcessedWithWarningNote}}"
                                    [readonly]="isFieldreadonly"></textarea>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <hr class="m-0 p-0">
            <!-- Applicant Details -->
            <div>
                <div class="row">
                    <div class="col-4">
                        <div class="m-0 p-2 row mt-2 md-bgClr">
                            <div class="col-md-12 pl-2 pt-2">
                                <h3>Applicants On Certificate</h3>
                            </div>
                        </div>
                        <div id="ptableId">
                            <p-table [value]="creditorDataJson?.certificate?.applicant" selectionMode="single"
                                [scrollable]="true" [responsive]="true" scrollHeight="200px" [autoLayout]="true"                            
                                (onRowSelect)="onClickOfApplicantCertficateRow($event)">
                                <ng-template pTemplate="header">
                                    <tr class="ptableHeader">
                                        <th>Applicant Type</th>
                                        <th>First Name</th>
                                        <th>Last name</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-responseData>
                                    <tr [pSelectableRow]="responseData">
                                        <td title="{{responseData.applicantSequenceNumber}}">{{responseData.applicantSequenceNumber}}</td>
                                        <td title="{{responseData.applicantFirstName}}">{{responseData.applicantFirstName}}</td>
                                        <td title="{{responseData.applicantLastName}}">{{responseData.applicantLastName}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="row ml-2">
                            <b>Note<span style="color: red;">*</span>:</b>
                            Select the applicant row in the table above to view the applicant
                            details.
                        </div>
                    </div>
                    <div class="col-8">
                        <mat-card class="w-100 mt-2 md-border p-0">
                            <mat-card-header class="md-card-hdr">
                                <mat-card-title class="md-white-clr md-font m-1 p-1"><b>Applicant Details</b></mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content class="mt-1 p-2">
                                <div class="row">
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Insured Flag</label>
                                        <input class="md-input-width" placeholder="Insured Flag" value={{applicantDetails?.insuredFlag}}
                                            [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">First Name</label>
                                        <input class="md-input-width" placeholder="First Name" value="{{applicantDetails?.applicantFirstName}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Middle Name</label>
                                        <input class="md-input-width" placeholder="Middle Name" value="{{applicantDetails?.applicantMiddleName}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Last Name</label>
                                        <input class="md-input-width" placeholder="Last Name" value="{{applicantDetails?.applicantLastName}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6">
                                        <div class="row ml-0">
                                            <label class="md-lbl">Date Of Birth</label>
                                            <input style="width: 70%;" matInput [matDatepicker]="picker5"
                                                value="{{applicantDetails?.applicantDateOfBirth}}"
                                                [readonly]="isFieldreadonly">
                                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                            <mat-datepicker class="col-md-3" #picker5></mat-datepicker>
                                        </div>
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Gender</label>
                                        <input class="md-input-width" placeholder="Gender" value={{applicantDetails?.gender}}
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Phone1</label>
                                        <input class="md-input-width" placeholder="Phone1" value="{{applicantDetails?.applicantPhone1}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Phone2</label>
                                        <input class="md-input-width" placeholder="Phone2" value="{{applicantDetails?.applicantPhone2}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Email</label>
                                        <input class="md-input-width" placeholder="Email" value="{{applicantDetails?.applicantEmail}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Province</label>
                                        <input class="md-input-width" placeholder="Province" value="{{applicantDetails?.applicantProvince}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Is Smoker</label>
                                        <input class="md-input-width" placeholder="Is Smoker" value="{{applicantDetails?.isSmoker}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Correspondence Language</label>
                                        <input class="md-input-width" placeholder="Correspondence Language"
                                            value="{{applicantDetails?.correspondenceLanguage}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Correspondence Type</label>
                                        <input class="md-input-width" placeholder="Correspondence Type"
                                            value="{{applicantDetails?.correpondenceType}}" [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Communication Consent Flag</label>
                                        <input class="md-input-width" placeholder="Communication Consent Flag"
                                            value="{{applicantDetails?.communicationConsentFlag}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Processed With Error Flag</label>
                                        <input class="md-input-width" placeholder="Processed With Error Flag"
                                            value="{{applicantDetails?.applicantProcessedWithErrorFlag}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6">
                                        <label class="md-lbl">Processed With Warning Flag</label>
                                        <input class="md-input-width" placeholder="Processed With Warning Flag"
                                            value="{{applicantDetails?.applicantProcessedWithWarningFlag}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                                <div class="row md-row-mt">
                                    <div class="ym_form_group  col-6 m-0">
                                        <label class="md-lbl">Logical Delete Flag</label>
                                        <input class="m-0 md-input-width" placeholder="Logical Delete Flag"
                                            value="{{applicantDetails?.applicantLogicalDeleteFlag}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                    <div class="ym_form_group  col-6 m-0">
                                        <label class="md-lbl">Tax Exempt Flag</label>
                                        <input class="m-0 md-input-width" placeholder="Tax Exempt Flag" value="{{applicantDetails?.taxExemptFlag}}"
                                            [readonly]="isFieldreadonly">
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Applicant Address & Applicant Coverage -->
            <div>
                <div class="row" style="margin-top: -8px;">
                    <div class="col-4">
                        <div class="m-0 p-0 row  md-bgClr">
                            <div class="col-md-12 pt-3 pl-2 pb-2">
                                <h3>Applicant Address</h3>
                            </div>
                        </div>
                        <div id="ptableId">
                            <p-table [value]="applicantAddress" selectionMode="single" [scrollable]="true"
                                [responsive]="true" scrollHeight="200px" [autoLayout]="true">
                                <ng-template pTemplate="header">
                                    <tr class="ptableHeader">
                                        <th>Address Type</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-addressResponseData>
                                    <tr [pSelectableRow]="addressResponseData">
                                        <td title="{{addressResponseData?.addressType}}">{{addressResponseData?.addressType}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="m-0 p-0 row md-bgClr">
                            <div class="col-md-12 pl-2 pt-3 pb-2">
                                <h3>Applicant Coverage</h3>
                            </div>
                        </div>
                        <div id="ptableId">
                            <p-table [value]="applicantCoverage" selectionMode="single" [scrollable]="true"
                                [responsive]="true" scrollHeight="200px" [autoLayout]="true"                           >
                                <ng-template pTemplate="header">
                                    <tr class="ptableHeader">
                                        <th>Coverage Amount</th>
                                        <th>Coverage Term</th>
                                        <th>Coverage Effective Date</th>
                                        <th>Coverage Code</th>
                                        <th>Coverage Status</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-coverageResponseData>
                                    <tr [pSelectableRow]="coverageResponseData">
                                        <td title="{{coverageResponseData?.coverageAmount}}">{{coverageResponseData?.coverageAmount}}</td>
                                        <td title="{{coverageResponseData?.coverageTerm}}">{{coverageResponseData?.coverageTerm}}</td>
                                        <td title="{{coverageResponseData?.coverageEffectiveDate.split('T')[0]}}">{{coverageResponseData?.coverageEffectiveDate.split('T')[0]}}</td>
                                        <td title="{{coverageResponseData?.coverageCode}}">{{coverageResponseData?.coverageCode}}</td>
                                        <td title="{{coverageResponseData?.applicantCoverageStatus}}">{{coverageResponseData?.applicantCoverageStatus}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Premium List -->
            <div>
                <div style="margin-top: -7px;">
                    <div class="col-12 m-0 p-2 row md-bgClr">
                        <div class="col-md-12 pl-2 pt-2">
                            <h3>Premium List</h3>
                        </div>
                    </div>
                    <div id="ptableId">
                        <p-table [value]="premiumHistoryList?.premiumListSP_premium" selectionMode="single"
                            [scrollable]="true" [responsive]="true" scrollHeight="200px" [autoLayout]="true">
                            <ng-template pTemplate="header">
                                <tr class="ptableHeader">
                                    <th>Billing Period</th>
                                    <th>Transaction Type</th>
                                    <th>Applicant</th>
                                    <th>Disability Premium</th>
                                    <th>Disability Premium Tax</th>
                                    <th>Total Premium</th>
                                    <th>Total Tax</th>
                                    <th>Total Premium With Tax</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-premiumResponseData>
                                <tr [pSelectableRow]="premiumResponseData">
                                    <td title="{{premiumResponseData.transactionDate.split('T')[0]}}">{{premiumResponseData.transactionDate.split('T')[0]}}</td>                               
                                    <td title="{{premiumResponseData.baseTransactionType}}">{{premiumResponseData.baseTransactionType}}</td>
                                    <td title="{{premiumResponseData.applicantName}}">{{premiumResponseData.applicantName}}</td>
                                    <td title="{{premiumResponseData.disabilityPremium}}">{{premiumResponseData.disabilityPremium}}</td>
                                    <td title="{{premiumResponseData.disabilityPremiumTax}}">{{premiumResponseData.disabilityPremiumTax}}</td>
                                    <td title="{{premiumResponseData.totalPremium}}">{{premiumResponseData.totalPremium}}</td>
                                    <td title="{{premiumResponseData.totalTax}}">{{premiumResponseData.totalTax}}</td>
                                    <td title="{{premiumResponseData.totalPremiumWithTax}}">{{premiumResponseData.totalPremiumWithTax}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><span class="p-ml-2">Total</span></td>
                                    <td>{{disabilityPremiumTotal}}</td>
                                    <td>{{disabilityPremiumTaxTotal}}</td>
                                    <td>{{premiumTotal}}</td>
                                    <td>{{taxTotal}}</td>
                                    <td>{{premiumWithTaxTotal}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <!-- </div> -->