/* .md-hd{
    background: #C41230 !important;
} */
/* .ptableHeader> th {
  color: white !important;
  background-color: #00456a !important;
}  */
#creditorCertficateId{
  overflow-y: auto !important;
  height: 30rem  !important;
}
.md-overFlow{
  white-space: nowrap;
  overflow: hidden;
  }