/* .ptableHeader>th {
    font-size: 16px;
    color: #ffffff;
    background-color: #c41230;
} */
.md-refine-card-height{
    height: 531px !important;
}

.md-spinner{
    margin-left: 29rem;
}

.ptableId{
    overflow-y: auto;
    height: 300px;
    overflow-x: hidden;
}
.md-overFlow{
    white-space: nowrap;
    overflow: hidden;
 }
 


