.style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

    border-collapse: collapse;
    width: 100%;
  }
  
  .style td, .style th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .style tr:hover 
  {background-color: #ddd;}
  
  .style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    /* background-color: #00456A; */
    background-color: #008acc!important;
    color: white;
  }
  
  .md-input{
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px; 
     box-sizing: border-box;  
  }

  .md-select{
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px; 
     box-sizing: border-box; 
  }
  

  