mat-expansion-panel-header{
    height: 39px !important;
}
.md-text-area-width{
    width: 100%;
}
.md-clr{
   color: #0071b3 !important
}

.ptableHeader> th {
    color: white !important;
    background-color: #00456a !important;
  }

  #ptableId{
    overflow-y: auto;
    height: 232px;
  }