mat-expansion-panel-header{
    height: 39px !important;
}
.md-text-area-width{
    width: 100%;
}
.tooltiptext {
    display: inline-block;
    position: relative;
    background-color: #00456a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 4px;
}
.tooltiptext:before {
    content: '';
    display: block;  
    position: absolute;
    left: 62px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #00456a;
}

.tooltiptext:after {
    content: '';
    display: block;  
    position: absolute;
    left: 141px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: white;
}

.md-btn-alignement{
    flex: 1 0 54% !important;
    max-width: 67% !important;
}
/* .md-mt{
    margin-top: -3px;
} */
.md-card-hdr{
    background: #00456A;
    margin: 0.5px;
}
.md-clr{
    color: white !important;
}