<!-- <html class="md-html" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="
    base-uri 'self'; 
    object-src 'none'; 
    connect-src 'self' api.askkodiak.com; 
    img-src 'self' *.amazonaws.com *.mond-cloud.com *.tarmika.com maps.gstatic.com data: https: ; 
    font-src 'self' *.typekit.net *.fontawesome.com fonts.gstatic.com stackpath.bootstrapcdn.com; 
    script-src 'self' *.googleapis.com cdnjs.cloudflare.com stackpath.bootstrapcdn.com; 
    style-src 'self' 'unsafe-inline' *.amazonaws.com *.typekit.net use.fontawesome.com stackpath.bootstrapcdn.com fonts.googleapis.com cdnjs.cloudflare.com;" />
    <title>Tarmika</title>
    <link rel="icon" type="image/png" href="images/favicon/mondicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700|Roboto:400,700" rel="stylesheet" />
 <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script type="text/javascript" src="mondLoginController.js?_=3.17"></script>
    <script src="js/ds/MDUtils.js?_=3.17"></script>
    <script type="text/javascript" src="vendorjs/base64.js?_=3.17"
        integrity="sha256-SWwaXxkEtXxF2OHW3C/KVpYb1VqYEkKsuhXX8pdj10A=" crossorigin="anonymous"></script>
        <script src="./forgotPassword.scipt.js"> </script>

</head>

<body class="md-body ym_password_body" ng-app="monddesigner" ng-controller="mainController"> -->
<form class="md-body ym_password_body" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row m-0 p-0 ym_forgot_password_container">

        <div class="col-12 col-md-4 col-lg-4  m-0 p-0"></div>

        <div class="col-12 col-md-4 col-lg-4  row m-0 p-0 d-flex justify-content-center ym_forgot_password_content">
            <img src="assets/images/tarmika-logo-white.png" alt="Tarmika" class="md-center pb-1 mt-2" id="tarmikaLogo">
            <div style="display: none; width: 73%" class="card border-danger ml-1 mr-1 pl-2 pr-1 mb-1" #emailFailedMsg>
                <div class="card-body text-center">
                    <h6 class="card-text text-danger"><i class="fa fa-warning text-danger"></i> There was a problem
                    </h6>

                    <p class="card-text col-12 col-lg-12 col-md-12 ml-0 pl-0" style="font-size: 13px;"> We're sorry. We weren't able to identify you given the information provided.</p>
                </div>
            </div>

            <div class="col-12 ml-0 mr-0 pl-0 pr-0 d-flex justify-content-center">
                <div class="card-deck ml-1 mr-1 mb-3" style="width: 79%;" id="forgotPasswordBoxFullDiv">

                    <div class="card">
                        <div class="card-body text-left" style="padding: 20px 26px;" id="forgotPasswordCardbody">
                            <h2 class="card-text" id="forgotPasswordHeading"> Password assistance </h2>
                            <p class="card-text mb-0" style="font-size: 13px;" id="mondcard"> Enter the email address associated with Tarmika account</p>

                            <label class="w-100 md-cardlabel ym_forgot_password_label_content">
                                <p class="text-left mb-0 mt-1" style="font-size: 13px;"><b
                                        class="ym_forgot_password_label">E-mail address </b></p>
                                <input required type="text" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                    class="form-control md-input-height-sm" #emailAdress value={{decodedUserName}} />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">

                                    <div *ngIf="f.email.errors.email">!Please enter valid email</div>
                                </div>
                            </label>

                            <div style="display: none; font-size: 13px;" class="text-danger" #emailEnterMsg>

                                ! Please enter your email address.

                            </div>
                            <button type="submit" name="button" id="button" class="mt-2 ym_button" (click)="emailSubmit()" style="width:100%">Continue</button>

                        </div>
                    </div>
                </div>
            </div>

            <h4 class="mt-0 mb-1 w-75" style="font-weight: 400;
                    font-size: 17px;
                    line-height: 1.255; margin-left: 6%; text-align: center;" id="forPasswordSubHeader">Has your e-mail address changed?</h4>

            <p style="font-size: 13px; margin-left: 3%; width:70%; text-align: justify;" class=" md-p md-line-height-1x  mr-2 " id="forgotPassWordText"> If you no longer use the e-mail address associated with your Tarmika account, you may contact
                <a class="creatacc" href="mailto:support@tarmika.com?Subject=Password%20Assistance" style="color: pink" target="_top">Customer Service</a> for help, in restoring access to your account.
            </p>
        </div>
        <div class="col-4 m-0 p-0"></div>
        <div class="row m-0 p-0 md-divider-inner ym_password_footer">
            <p class="text-center md-size-mini">Copyright &copy; 2018-19 Tarmika All rights reserved</p>
        </div>
    </div>
</form>

<!-- <script>
        var params = (new URL(document.location)).searchParams;
        var loginNameEncode = params.get("ln");
        var loginNameDecodeVal = Base64.decode(loginNameEncode);
        document.getElementById("emailAdress").value = loginNameDecodeVal;
    </script> -->
<!-- </body>

</html> -->