.md-spinner{
    margin-left: 30rem;
}
.md-refine-card-height{
  /* height: 27rem !important; */
  height: 532px !important;
}

/* .ptableId{
    overflow-y: auto;
    height: 300px;
  } */

  /* .ptableHeader>th {
    
    color: #ffffff;
    background-color: #c41230;
} */