<div class="ym_content">
    <div class="p-1 m-1">
        <div class="row md-breadCrumbs">
            Rate structure Configuration
        </div>
        <div class="row ml-0 mr-0 pr-0 pt-1 mt-1 pl-0 pb-0 mb-0">
            <mat-card class="w-100 md-border md-mat-card">
                <div class="row">
                    <mat-tab-group class="col-md-12 m-0 p-0" [(selectedIndex)]="selectedTab">
                        <mat-tab label="Search Rate">
                            <div class="row pt-1 pr-1 pb-1 mb-1 mt-1 mr-1 mb-1 md-mat-tab">
                                <div class="col-md-2 p-2 md-refine-card md-refine-card-height">
                                    <h3 class="md-h3"><i class="fa fa-bars pr-2"></i>Refine your Search</h3>
                                    <div class="ym_form_group row mb-0 pb-0">
                                        <label class="md-lbl">Rate Name</label>
                                        <input type="text" placeholder="Rate Name" [(ngModel)]="rateName">
                                    </div>
                                    <div class="ym_form_group row mb-0 pb-0">
                                        <label class="md-lbl">Rate Type</label>
                                        <div class="ym_form_select">
                                            <select [(ngModel)]="rateType">
                                                <option selected value="">Please select a value</option>
                                                <option value="High">High</option>
                                                <option value="Low">Low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ym_form_group_mat_btn row">
                                        <button class="btn btn-primary" style="margin-right: 10px;"
                                            (click)=onClickOfRatereset()><i class="fa fa-undo"></i>
                                            Reset</button>
                                        <button class="btn btn-primary" (click)="onClickOfRatesearch()"><i
                                                class="fa fa-search"></i>
                                            Search</button>
                                    </div>
                                </div>
                                <div class="col-md-10 p-0 m-0">
                                    <div class="row ml-2 mb-0 mr-0 mt-0 pt-2 pb-2" style="background-color: #ebebf1;">
                                        <div class="col-md-6 m-0 p-0">
                                            <h2 class="md-lbl ml-2 mb-1">Rate Structure Configuration</h2>
                                        </div>
                                        <div class="col-md-6 pt-0 pb-0 pr-2 pl-0">
                                            <button class="float-right btn btn-primary" (click)="onClickOfAddRate()">
                                                <i class="fa fa-plus-square"></i> Add Rate</button>
                                        </div>
                                    </div>
                                    <div class="row ml-2 mb-0 mr-0 mt-2 pt-0 pb-0 md-bgClr">
                                        <div class="col-md-6 pl-2 pt-3 pb-2">
                                            <h3>Rate Structure List</h3>
                                        </div>
                                    </div>
                                    <mat-spinner class="md-spinner" *ngIf="isSpinnerShow"></mat-spinner>
                                    <div class="ptableId ml-2 mb-0 mr-0 mt-0 pt-0 pb-0">
                                        <p-table [value]="rateList" selectionMode="single" [scrollable]="true"
                                            [responsive]="true" scrollHeight="379px" [autoLayout]="true"
                                            (onRowSelect)="onRateListRowSelect($event)">
                                            <ng-template pTemplate="header">
                                                <tr class="ptableHeader">
                                                    <th style="width: 10rem;">Rate Name</th>
                                                    <th style="width: 10rem;">Rate Type</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-responseData>
                                                <tr [pSelectableRow]="responseData">
                                                    <td style="width: 10rem;">
                                                        <div class="md-overFlow" title="{{responseData.rateName}}">
                                                            {{responseData.rateName}}</div>
                                                    </td>
                                                    <td style="width: 10rem;">
                                                        <div class="md-overFlow" title="{{responseData.rateType}}">
                                                            {{responseData.rateType}}</div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>

                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Rating Details">
                            <app-ratingDetails-designer [rateDetails]="rateDetailsData"></app-ratingDetails-designer>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-card>
        </div>
    </div>
</div>