<!-- <div>product plan Search works!</div> -->
<div>
    <div class="row pt-1 pr-1 pb-1 mb-1 mt-1 mr-1 mb-1 md-mat-tab">
        <div class="col-md-2 p-2 md-refine-card md-refine-card-height">
            <h3 class="md-h3"><i class="fa fa-bars pr-2"></i>Refine your Search</h3>
            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Client Name</label>
                <input placeholder="Product Name" [(ngModel)]="clientName" (keyup)="getClientNameDetails($event)"
                    [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let option of clientNameListData" [value]="option.value"
                        (onSelectionChange)="onSelectClientName($event)">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Product Type</label>
                <input placeholder="Product Type" [(ngModel)]="productType" (keyup)="getProductTypeDetails($event)"
                    [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let option of productTypeListData" [value]="option.value"
                        (onSelectionChange)="onSelectProductType($event)">
                        {{option.id}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Plan Number</label>
                <input placeholder="Product Number" [(ngModel)]="productNumber" (keyup)="getPlanNumberDetails($event)"
                    [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let option of clientNumberListData" [value]="option.value"
                        (onSelectionChange)="onSelectPlanNumber($event)">
                        {{option.id}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Plan Name</label>
                <input placeholder="Plan Name" [(ngModel)]="planName" (keyup)="getPlanNameDetails($event)"
                    [matAutocomplete]="auto4">
                <mat-autocomplete #auto4="matAutocomplete">
                    <mat-option *ngFor="let option of planNameListData" [value]="option.value"
                        (onSelectionChange)="onSelectPlanName($event)">
                        {{option.id}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Plan Status</label>
                <div class="ym_form_select">
                    <select [(ngModel)]="planStatus">
                        <option selected value="">Please select a value</option>
                        <option value="Active">Active</option>
                        <option value="Terminated">Terminated</option>
                    </select>
                </div>
            </div>
            <div class="ym_form_group_mat_btn  row">
                <button class="btn btn-primary" style="margin-right: 10px;" (click)="onClikOfReset()"><i
                        class="fa fa-undo"></i> Reset</button>
                <button class="btn btn-primary" (click)="onClickOfPlanSearch()"><i class="fa fa-search"></i>
                    Search</button>
            </div>
        </div>
        <div class="col-md-10 p-0 m-0">
            <div class="row ml-2 mb-0 mr-0 mt-0 pt-2 pb-2" style="background-color: #ebebf1;">
                <div class="col-md-6 m-0 p-0">
                    <h2 class="md-lbl ml-2 mb-1">Plan Maintenance</h2>
                </div>
                <div class="col-md-6 pt-0 pb-0 pr-2 pl-0">
                    <button class="btn btn-primary float-right" (click)="onClickOfCopyPlan()">
                        <i style="width: 17px" class="ace-icon fa fa-files-o mr-1"></i>Copy Plan</button>
                </div>
            </div>
            <div class="row ml-2 mb-0 mr-0 mt-2 pt-0 pb-0 md-bgClr">
                <div class="col-md-6 pl-2 pt-3 pb-2">
                    <h3>Plan List</h3>
                </div>
            </div>
            <mat-spinner class="md-spinner" *ngIf="isSpinnerShow"></mat-spinner>
            <div id="prodPtableId" class="ml-2 mb-0 mr-0 mt-0 pt-0 pb-0">
                <p-table [value]="planMaintenanceList" selectionMode="single" [scrollable]="true" [responsive]="true"
                    scrollHeight="379px" [autoLayout]="true" (onRowSelect)="onPlanListRowSelect($event)">
                    <ng-template pTemplate="header">
                        <tr class="ptableHeader">
                            <th style="width: 2rem;"></th>
                            <th style="width:106px">Client Name</th>
                            <th style="width:7rem;">Product Type</th>
                            <th style="width: 111px;">Plan Number</th>
                            <th style="width: 13rem;">Plan Name</th>
                            <th style="width: 6rem;">Plan status</th>
                            <th style="width: 173px;">Last Update Date</th>
                            <th style="width: 18rem;">Updated By</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-responseData>
                        <tr [pSelectableRow]="responseData">
                            <td style="width: 2rem;">
                                <input type="checkbox" name='copyPlanName'
                                    (change)="onChangeOfCopyPlanName(responseData,$event)">
                            </td>
                            <td style="width:106px">
                                <div class="md-overFlow" title="{{responseData.clientName}}">
                                    {{responseData?.clientName}}
                                </div>
                            </td>
                            <td style="width:7rem;">
                                <div class="md-overFlow" title=" {{responseData.productType}}">
                                    {{responseData?.productType}}
                                </div>
                            </td>
                            <td style="width:111px;">
                                <div class="md-overFlow" title=" {{responseData.planNumber}}">
                                    {{responseData?.planNumber}}
                                </div>
                            </td>
                            <td style="width:13rem;">
                                <div class="md-overFlow" title="{{responseData.planName}}">
                                    {{responseData?.planName}}
                                </div>
                            </td>
                            <td style="width:6rem;">
                                <div class="md-overFlow" title=" {{responseData.planStatus}}">
                                    {{responseData?.planStatus}}
                                </div>
                            </td>
                            <td style="width: 173px;">
                                <div class="md-overFlow" title="{{responseData?.insertDate}}">
                                    {{responseData?.insertDate}}
                                </div>
                            </td>
                            <td style="width: 18rem;">
                                <div class="md-overFlow" title="{{responseData.insertedBy}}">
                                    {{responseData?.insertedBy}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>


<!-- copy plan model -->
<button type="button" class="btn btn-primary" id="copyPlanModelId" data-toggle="modal" data-target="#copyPlanModal"
    style="display: none;">
    CopyPlan Modal
</button>

<!-- Modal -->
<div class="modal fade" id="copyPlanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b class="md-address">Copy Plan</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ym_form_group  row mb-0 pb-0">
                    <label class="md-lbl" style="font-size: 19px;">Enter Plan Number, Plan
                        Name and Effective Date for the new plan</label>
                </div>
                <div class="ym_form_group  row mb-0 pb-0">

                    <label class="md-lbl">Copy plan for the same product?</label>
                    <mat-slide-toggle [(ngModel)]="iscopyProduct" (change)="onChangeOfCopyProduct($event)">
                    </mat-slide-toggle>
                </div>
                <div class="ym_form_group required row mb-0 pb-0" *ngIf="isShowProd">

                    <label class="md-lbl">Product</label>
                    <div class="ym_form_select">
                        <select [(ngModel)]="copyPlanStatus">
                            <option selected value="">Please select a value</option>
                            <option *ngFor="let option of prodList" value="{{option.productName}}">
                                {{option.productName}}</option>
                        </select>
                    </div>
                </div>
                <div class="ym_form_group required  row mb-0 pb-0">

                    <label class="md-lbl">Plan Number</label>
                    <input [(ngModel)]="copyPlanNumber">
                </div>
                <div class="ym_form_group required row mb-0 pb-0">

                    <label class="md-lbl">Plan Name</label>
                    <input [(ngModel)]="copyPlanName">
                </div>
                <div class="ym_form_group required row mb-0 pb-0">

                    <div class="row" style="margin-left: 1px;">
                        <label class="md-lbl">Effective Date</label>
                        <input style="width: 94%;" matInput [matDatepicker]="picker" [(ngModel)]="copyEffectiveDate"
                            #copyDate>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker class="col-md-3" #picker></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                        class="fa fa-times ml-2 mr-1"></i>Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickOfCopyOfSubmit()"><i
                        class="fa fa-save mr-1"></i>Submit</button>
            </div>
        </div>
    </div>
</div>