

.md-hide{
display: none;
}

.md-font{
    font-family:  benton-sans, sans-serif;
}

/* .md-Btn{
background-color: #008acc !important;
color: white;
} */

.md-icon{
    position: sticky;
    left: 94%;
}
.md-customer-icon{
  position: sticky;
    left: 100%;
}

.md-Btn-fst{
  /* background-color: #008acc; */
  /* background-color: #008acc; */
  color: white;
  /* left: 89%; */
}