/* .example-card {
    max-width: 400px;
  } */
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */
/* .example-button-row {
  display: table-cell;
  width: 490px;
}   */

.md-hide{
display: none;
}
.md-clr{
  color:#008acc;
}
.md-font{
    font-family:  benton-sans, sans-serif;
}

.md-Btn{
background-color: #008acc;
color: white;
}

.md-boder{
    border: 2px solid #008acc;
}

.md-icon{
    position: absolute;
    left: 89%;
}