<!-- <div>serach Coverage works</div> -->

<div>
    <div class="row pt-1 pr-1 pb-1 mb-1 mt-1 mr-1 mb-1 md-mat-tab">
        <div class="col-md-2 p-2 md-refine-card md-refine-card-height">
            <h3 class="md-h3"><i class="fa fa-bars pr-2"></i>Refine your Search</h3>

            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Plan Number</label>

                <input placeholder="Plan Number" [(ngModel)]="planNumber" (keyup)="getPlanNumberDetails($event)"
                    [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let option of clientNumberListData" [value]="option.value"
                        (onSelectionChange)="onSelectPlanNumber($event)">
                        {{option.id}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Line Of Business</label>
                <div class="ym_form_select">
                    <select (change)="onChangeOfLOB($event)" [(ngModel)]="lineOfBusiness">
                        <option selected value="">Please select a value</option>
                        <option let *ngFor="let list of lineOfBusinessList" value="{{list.description}}">
                            {{list.description}}</option>

                    </select>
                </div>
            </div>
            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Coverage Type</label>
                <div class="row pl-1">
                    <div class="ym_form_select  m-0 p-0" style="width: 87%;">
                        <select [(ngModel)]="coverageType">
                            <option value="">Please select a value</option>
                            <option *ngFor="let list of coverageTypeList" value="{{list.coverageType}}">
                                {{list.coverageType}}</option>
                        </select>
                    </div>
                    <div class="m-0 p-0">
                        <i (mouseover)="onMouseOver()" aria-hidden="true" 
                            class="m-0 p-1 coverageHelp btn rounded-pill fa fa-question-circle md-circle"
                            data-toggle="tooltip" data-placement="right"
                            title="Please select 'Line Of Business' to view the corresponding coverage type."></i>
                    </div>
                </div>
            </div>

            <div class="ym_form_group  row mb-0 pb-0">
                <label class="md-lbl">Coverage Status</label>
                <div class="ym_form_select">
                    <select [(ngModel)]="coverageStatus">
                        <option selected value="">Please select a value</option>
                        <option value="Active">Active</option>
                        <option value="Terminated">Terminated</option>
                    </select>
                </div>
            </div>
            <div class="ym_form_group_mat_btn  row">
                <button class="btn btn-primary" style="margin-right: 10px;" (click)="onClickOfCoverageReset()"><i class="fa fa-undo"></i> Reset</button>
                <button class="btn btn-primary" (click)="onClickOfCoverageSearch()"><i class="fa fa-search"></i>
                    Search</button>
            </div>
        </div>
        <div class="col-md-10 p-0 m-0">
            <div class="row ml-2 mb-0 mr-0 mt-0 pt-2 pb-2" style="background-color: #ebebf1;">
                <div class="col-md-6 m-0 p-0">
                    <h2 class="md-lbl ml-2 mb-1">Coverage Maintenance</h2>
                </div>
            </div>
            <div class="row ml-2 mb-0 mr-0 mt-2 pt-0 pb-0 md-bgClr">
                <div class="col-md-6 pl-2 pt-3 pb-2">
                    <h3>Plan List</h3>
                </div>
            </div>
            <mat-spinner class="md-spinner" *ngIf="isSpinnerShow"></mat-spinner>
            <div id="prodPtableId" class="ml-2 mb-0 mr-0 mt-0 pt-0 pb-0">
                <p-table [value]="coverageMaintenanceList" selectionMode="single" [scrollable]="true"
                    [responsive]="true" scrollHeight="379px" [autoLayout]="true">
                    <ng-template pTemplate="header">
                        <tr class="ptableHeader">
                            <th>Plan Number</th>
                            <th>Line of Business</th>
                            <th>Coverage Type</th>
                            <th>Coverage Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-responseData>
                        <tr [pSelectableRow]="responseData">

                            <td>
                                <div class="md-overFlow" title="{{responseData.planNumber}}">
                                    {{responseData.planNumber}}
                                </div>
                            </td>
                            <td>
                                <div class="md-overFlow" title="{{responseData.lineOfBusiness}}">
                                    {{responseData.lineOfBusiness}}
                                </div>
                            </td>
                            <td>
                                <div class="md-overFlow" title="{{responseData.coverageType}}">
                                    {{responseData.coverageType}}
                                </div>
                            </td>
                            <td>
                                <div class="md-overFlow" title="{{responseData.coverageStatus}}">
                                    {{responseData.coverageStatus}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>