.md-group{
    margin: 0rem 0rem 0rem 0rem !important;
    display: inline-block !important;
}
mat-expansion-panel-header{
    height: 39px !important;
}
/* .ptableHeader> th {
    color: white !important;
    background-color: #00456a !important;
} */
.md-text-area-width{
    width: 100%;
}
.md-top{
    margin-top: -4px;
}
.md-card-hdr{
    background: #00456A;
    margin: 0.5px;
}