.md-group{
    margin: 1rem 0rem 1rem 0rem !important;
    display: inline-block !important;
}
mat-expansion-panel-header{
    height: 39px !important;
}
/* .ptableHeader> th {
    color: white !important;
    background-color: #00456a !important;
} */
.md-text-area-width{
    width: 99%;
}


.md-top{
    margin-top: -4px;
}