/* .ptableHeader>th {
    font-size: 16px;
    color: #ffffff;
    background-color: #c41230;
} */

.md-refine-card-height{
    /* height: 27rem !important; */
    height: 531px !important;
}
.md-spinner{
    margin-left: 29rem;
}
.md-overFlow{
    white-space: nowrap;
    overflow: hidden;
}
.md-mat-tab{
    margin-left: 6px;
}
.md-btn-width{
    /* width: 7%; */
}

