/* .ptableHeader>th {
    font-size: 16px;
    color: #ffffff;
    background-color: #c41230;
} */

.md-refine-card-height{
    height: 27rem !important;
}
.md-spinner{
    margin-left: 29rem;
}
.md-overFlow{
    white-space: nowrap;
    overflow: hidden;
    }
