mat-expansion-panel-header{
    height: 39px !important;
}
/* .ptableHeader> th {
    color: white !important;
    background-color: #00456a !important;
} */

#splitFileId{
overflow-y: auto!important;
height: 30rem!important;
}
.md-refine-card{
    height: 16rem !important;
}
